.icon-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;
}

.angular-logo {
  width: 65px;
}

.equal-symbol {
  width: 35px;
}

.addition-symbol {
  width: 35px;
}

.lambda-logo {
  width: 110px;
}

.firebase-logo {
  width: 60px;
}

.auth0-logo {
  width: 115px;
}
