<div class="icon-container">
  <mat-grid-list cols="9">
    <mat-grid-tile>
      <div>
        <img src="/assets/images/angular-logo.png" alt="Angular logo" class='angular-logo'>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <img src="/assets/images/Plus_symbol.svg" alt="Addition Symbol" class="addition-symbol">
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <img src="/assets/images/auth0-logo.png" alt="Auth0 logo" class='auth0-logo'>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <img src="/assets/images/Plus_symbol.svg" alt="Addition Symbol" class="addition-symbol">
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <img src="/assets/images/lambda-logo.png" alt="Angular logo" class='lambda-logo'>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <img src="/assets/images/Plus_symbol.svg" alt="Addition Symbol" class="addition-symbol">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="/assets/images/firebase-logo.png" alt="Angular logo" class='firebase-logo'>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="/assets/images/Equal_symbol.svg" alt="Equal Symbol" class='equal-symbol'>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/images/awesome-logo.svg" alt="Sunglasses and the word Awesome underneath"
        class='angular-logo'>
    </mat-grid-tile>
  </mat-grid-list>
</div>
