// mat-grid-tile {
//   background: grey;
// }

button {
  width: 180px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

.icon-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;

}

.button-container {
  padding-bottom: 30px;
}

.angular-logo {
  width: 65px;
}

.equal-symbol {
  width: 35px;
}

.addition-symbol {
  width: 35px;
}

.lambda-logo {
  width: 110px;
}

.firebase-logo {
  width: 60px;
}

.auth0-logo {
  width: 115px;
}

.padding-top-10 {
  padding-top: 10px;
}

.auth0-color {
  background-color: #eb5424;
}

.lambda-color {
  background-color: #ff9832;
}

.firebase-color {
  background-color: #ffc400;
}
