<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
</div>

<div class="content" role="main">

  <mat-card>
    <mat-card-title> Current Login Status</mat-card-title>
    <mat-card-content>
      <p>Auth0: {{auth0Token}}</p>
      <p>Firebase: {{firebaseToken}}</p>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="primary" (click)="loginToAuth0()" *ngIf=isLoggedintoAuth0>Login to Auth0</button>
  <button mat-raised-button color="primary" (click)="loginOutOfAuth0()" *ngIf=!isLoggedintoAuth0>Logout of Auth0</button>

  <button mat-raised-button color="primary" (click)="loginToFirebase()" *ngIf=isLoggedintoAuth0 && !isLoggedintoFirebase>Login to Firebase</button>
  <button mat-raised-button color="primary" (click)="loginOutOfFirebase()" *ngIf=isLoggedintoFirebase>Logout of Firebase</button>

</div>

<router-outlet></router-outlet>